body {
  background: #245739;
}

.App h1 {
  text-align: center;
  color: #f09894;
}

a {
  color: #fcd3ce;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

footer {
  text-align: center;
  margin: 30px 0;
  color: #f09894;
}
