.Dictionary h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(252 211 206 / 50%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 4px;
  border: 1px soild #ddd;
  color: #333;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
